section {
  margin: 120px 50px;
}

.containerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textRight {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textRight p {
  color: white;
  font-size: 14px;
  color: rgb(62, 62, 62);
}

.judulSection {
  font-size: 30px;
  color: white;
}

.iconMail {
  color: black;
  display: flex;
  position: relative;
  top: 1px;
  font-size: 20px;
}

.mail {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.boxMailInput {
  background-color: white;
  width: 35px;
  padding: 8px;
  position: relative;
  top: 36px;
  left: 1px;
  z-index: 8;
  border-radius: 10px;
}

.customGaris {
  position: relative;
  top: 30px;
  left: 30px;
  z-index: 9;
}

.garisUp {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: black;
}

#inputMail {
  position: relative;
  z-index: 9;
  margin-left: 35px;
  padding: 10px;
  width: 230px;
  background-color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: sans-serif;
  font-weight: 700;
}

#kirim {
  position: relative;
  top: 19px;
  left: 10px;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, blue, 20%, rgb(26, 25, 25));
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.imageGif {
  width: 600px;
  border-radius: 30px;
}

.downArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: center;
}

.downArrow p {
  color: white;
}

.downArrow img {
  position: relative;
  top: 10px;
  width: 40px;
  transform: rotate(135deg);
  animation: downAnimation infinite 3s;
}

@keyframes downAnimation {
  from {
    top: 30px;
  }
  to {
    top: 60px;
  }
}
