body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(245, 245, 245));
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30rem;
}

.innerBoxAsideLeft .image {
  display: flex;
  justify-content: center;
}

.boxtext h1 {
  color: black;
  margin-bottom: 80px;
}

.boxLogin {
  width: 400px;
  height: 300px;
  border: solid 2px white;
  padding: 10px;
  border-radius: 20px;
}

.judulBoxLogin h1 {
  font-size: 25px;
  padding: 20px;
}

.inputUser {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.input {
  width: 250px;
  padding: 8px;
  font-size: 13px;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
}

button {
  width: 200px;
  padding: 5px;
  margin-left: 33px;
  background: linear-gradient(to left, rgb(6, 6, 63) 70%, white);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.boxLogin h1 {
  color: white;
}

.eye {
  color: black;
  position: relative;
  top: -25px;
  left: 245px;
  cursor: pointer;
}

.eyeSlash {
  display: none;
  color: black;
  position: relative;
  top: -25px;
  left: 230px;
  cursor: pointer;
}
