body {
  margin-bottom: 100px;
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
}

main p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.content {
  padding-top: 100px;
}

.content p {
  text-align: center;
}

.contentBox {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.boxlangkahPembelian {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
}

.boxlangkahPembelian p {
  color: black;
  text-align: start;
  padding: 20px;
}

.desainBox1 {
  position: relative;
  right: 6rem;
  top: -20px;
}

.stylingDesain {
  position: absolute;
  background-color: #05010e;
  width: 120px;
  height: 80px;
  border-radius: 10px;
}

.desainBox1 .stylingDesain .InnerStyling {
  background-color: white;
  width: 50px;
  height: 30px;
  position: relative;
  top: 50px;
}
